# avoid committing built binaries (no extension)
# First ignore everything
*

# Then specifically unignore all files with extensions
!*.*

# And unignore all dirs
!*/


*.swp
*.profile
go/src/**
go/bin/**
go/pkg/**

.DS_Store
